.productDetail {
  padding: 20px;

  .titleDescButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .titleDesc {
      h1 {
        font-size: 24px;
        margin-bottom: 10px;
      }

      .description {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
    .buttons {
      display: flex;
      align-items: end;
      flex-direction: column;
      gap: 10px;
      button {
        color: #fff;
        font-weight: 600;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
      }
      .activate {
        background-color: #006400;
      }
      .addVariant {
        background-color: #3498db;
      }
      .delete {
        background-color: #cc0000;
      }
    }
  }
}

.variants {
  margin-top: 20px;

  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .variantList {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
